body{
    display: flex;
    align-content: center;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    background-color:white;
    font-family:Arial, Helvetica, serif;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#mall-logo{
    margin-left: 2rem;
    font-size: 4rem;
    color:#475561;
}

h1{
    color: whitesmoke;
    padding:1rem 1rem 0 1rem;
    margin:5px 5px 0 5px;
    font-family: cursive;
    font-size: 2.5rem;
}

div p{
    margin:0 0 1rem 1rem;;
    font-size: 1.2rem;
    color: whitesmoke;
}

header{
    display: flex;
    align-content: center;
    align-items:center;
    justify-content: space-between;
    width: 70%;
    margin: -8px 30rem 0rem 30rem;
    background-color:#95adc4;
    border-top: 1rem solid #617281;
    opacity: 0.9;
}

.social{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.result-div{
    display: flex;
    justify-content: center;
    width:70%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0rem 30rem;
    height:700px
}

main section{
    margin: 5rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height:100%;
}

img{
    width:300px;
    height:380px;
    border: 0.5px solid #95adc4;
    border-radius: 3px;
    transition-duration: 350ms;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    cursor: pointer;
}

img:hover{
    opacity:0.5;
    transform:scale(1.1);
    transition-duration: 1s;
    border: 3px solid rgb(211, 94, 94);

}

img:active{
    transform:scale(1);

}

.result{
    display: none;
    background-color:grey;
    padding:0.25rem 1rem;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    pointer-events: none;
}


.skip{
    margin: 5rem;
    width: 10rem;
    text-align:center;
    color:white;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    border-radius:5px;
    background-color:  rgb(211, 94, 94);
    cursor:pointer;
    border: 1px solid #778899;;
} 

.skip:hover{
    background-color: rgb(124, 56, 56);
    transform:scale(1.1);
    transition-duration: 350ms;
}

skip:active{
    transform:scale(1);
}

.view-result{
    display: auto;
    justify-content: center;
    padding:0.25rem 1rem;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    background-color:rgb(211, 94, 94);
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    pointer-events: auto;
    border: 0.5px solid #778899;;
    border-radius: 5px;
    cursor: pointer;
}

.view-result h2{
    color:whitesmoke;
}

.view-result:hover{
    background-color: rgb(124, 56, 56);
}

body main .result:hover{
    color:white;
}

.result h2{
    color:lightgrey;
}

.skip h2{
    color:whitesmoke
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #475561;;
}

ul{
    color: rgb(51, 51, 51);
}

.end-of-survey{
    display:none;
}

ul{
    display: none;
}

.end-of-survey-section{
    margin: 5rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height:100%;
}

.resultsUl{
    display: block;
}

li{
    line-height: 2rem;
    font-size: 1.4rem;
}

.social li{
    padding:1rem;
    margin: 5px;
    list-style-type: none;
    padding:10px;
    border-radius:5px;
}

.social li a{
    color: white;
}

article{
    width: 70%;
    margin: 0rem 30rem;
    height:5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

article div{
    width: 47%;
    border-top: 1px solid #778899;
}

#small-logo{
    font-size: 2rem;
    color:#475561;
}

footer{
    width:70%;
    margin: 0rem 30rem;
    display: flex;
    align-content: center;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
}

i:hover{
    color:rgb(241, 128, 128);
}